*{
    margin : 0 ;
    padding: 0 ;
}

:root {
    --navbar-height: 60px;
} 

#navbar{
    height: 60px;
    background-color: black;
    position: absolute;
    opacity: 0.4;
    z-index: -1;
    position: relative;
    display: flex;
    align-items: center;
}


#navbar ul{
    display: flex;
    align-items: center;
}

/* #navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 60px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

} */

#navbar ul li{
    list-style: none;
    font-size: 1rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover{
    background-color: white;
    color: black;

}


/* Hero-section */

#hero-section{
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    justify-content: center;
    align-items: center;
    background-image: url('../banner.jpg');
    opacity: 0.90;
    z-index:-1;
    background-size: cover;
    height: 500px;
}

#hero-section h1{
    color: white;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(67, 40, 40);
}

#hero-section h1:hover{
    background-color: white;
    color:rgb(67, 40, 40) ;

}

#hero-section p{

    padding: 5px 10px;
    margin-top: 10px;
    background-color: rgb(66, 62, 31);
    border-radius: 16px;
    font-size: 1rem;
    color: white;
}

#hero-section p:hover{
    background-color: white;
    color: rgb(66, 62, 31);
}

#hero-section button{
    padding: 15px 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(124, 78, 43);
    border: none;
}

#hero-section button:hover{
    color: rgb(124, 78, 43);
    background-color: white;
    cursor: pointer;
}

#sec1{
    
}

